<div class="container">
    <app-after-login></app-after-login>

    <div class="row" *ngIf="psychologists.length > 0; else noProfessionals">
        <div class="col">
            <div class="psychologist-list">
                <div class="psychologist-item" *ngFor="let psychologist of psychologists">
                    <div class="profile-image" (click)="selectUser(psychologist.userId)">
                        <img [src]="psychologist.profileImageUrl" alt="Profile Image">
                    </div>
                    <div class="user-details">
                        <h2>{{ 'Username: ' + psychologist.username }}</h2>
                        <p>{{ 'Firstname: ' + psychologist.firstName }}</p>
                        <p>{{ 'Lastname: ' + psychologist.lastName }}</p>
                        <p>{{ 'Email: ' + psychologist.email }}</p>
                    </div>
                    <div class="buttons">
                       
                        <button class="btn btn-success" (click)="goToChat( psychologist.username)">Chat</button>
                        <button class="btn btn-danger" (click)="unfollow()">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Affichage de l'image agrandie en plein écran -->
    <div class="enlarged-image-overlay" *ngIf="enlargedImage" (click)="reduceImage()">
        <img [src]="enlargedImage" alt="Enlarged Image">
    </div>

<ng-template #noProfessionals>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="height: 70vh;">
            <p class="text-center">You have no followed professionals.</p>
        </div>
    </div>
</ng-template>



</div>
