<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="padding-top: 56px;">
    <!-- Navbar -->
<app-after-login></app-after-login>
    <!-- Main content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-actions">
                            <i class="fa fa-ellipsis-h"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="communityForm">
      
    
                            <div class="form-group">
                                <label for="exampleInputPassword1">community Name</label>
                                <input type="text" class="form-control" formControlName="communityName" placeholder="communityName">
                            </div>
                            <div class="alert alert-danger" *ngIf="this.communityForm.get('communityName')?.invalid && this.communityForm.controls['communityName'].touched">
                                <p *ngIf="this.communityForm.controls['communityName'].hasError('required')">communityName required</p>
                                <p *ngIf="this.communityForm.controls['communityName'].hasError('minlength')">communityName min Length 5 </p>
                            </div>
                         
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="mr-2 btn btn-link btn-sm" [routerLink]="['/feed']">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="communityForm.invalid" (click)="save()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add any additional scripts here -->
</body>
</html>
