<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Forgot Password</h3>
          <form (submit)="onSubmit()">
            
            <div class="form-group">
              <label for="verificationCode">Verification Code</label>
              <input type="text" class="form-control" id="verificationCode" name="verificationCode" [(ngModel)]="form.verificationCode" required>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="form.newPassword" required>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
