
<div class="container centered-container"></div>
<div class="padding">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- User Profile Card -->
            <div class="card card-no-border">
                <img class="card-img-top" src="../../../assets/images/contact-bg.jpg" alt="Card image cap">
                <div class="card-body little-profile text-center">
                    <div class="pro-img"><img [src]="user?.profileImageUrl" alt="user"></div>
                    <h3 class="m-b-0">{{ user?.firstName }} {{ user?.lastName }}</h3>
                    <!-- Your Follow button here -->
                    <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Follow</a>
                    <div class="row text-center m-t-20">
                        <div class="col-lg-4 col-md-4 m-t-20">
                            <h3 class="m-b-0 font-light">{{ user?.weight }}</h3><small>Weight</small>
                        </div>
                        <div class="col-lg-4 col-md-4 m-t-20">
                            <h3 class="m-b-0 font-light">{{ user?.height }}</h3><small>Height</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Meal Container -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <!-- Meals List -->
            <div class="meal-list">
                <div class="row">
                    <!-- Inside the ngFor loop for meals -->
                    <div class="col-md-4 mb-4" *ngFor="let meal of listMeals" [id]="'meal-' + meal.mealId">
                        <div class="card h-100">
                            <img [src]="meal.mealImageUrl" class="card-img-top clickable-image" alt="Meal Image" (click)="toggleFoods(meal.mealId)">
                            <div class="card-body">
                                <h5 class="card-title">{{ meal.mealName }}</h5>
                                <p class="card-text">
                                    <strong>Total Calories:</strong> {{ meal.totalCals }}<br>
                                    <strong>Total Carbs:</strong> {{ meal.totalCarbs }}<br>
                                    <strong>Total Proteins:</strong> {{ meal.totalprots }}
                                </p>
                                <div *ngIf="isExpanded(meal.mealId)">
                                    <h6>Recipe</h6>
                                    <p>{{ meal.recipe }}</p>
                                </div>
                                <!-- Display foods when expanded -->
                                <div *ngIf="isExpanded(meal.mealId)">
                                    <ul>
                                        <li *ngFor="let food of mealFoods[meal.mealId]">{{ food.foodName }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-danger" (click)="disassociateMealFromUser(meal.mealId, user!.userId)">remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 text-center">
            <h4><span class="dot red-dot"></span>Total Protein Intake: {{ totalProtein }} grams</h4>
            <p><span class="dot blue-dot"></span>Total Protein Needed: {{ totalProteinNeeded }}g</p>
          <div class="doughnut-chart">
            <div class="slice intake-slice" [style.transform]="'rotate(' + (totalProteinNeeded/  totalProtein ) * 180 + 'deg)'"></div>
            <div class="slice needed-slice" [style.transform]="'rotate(' + ( (totalProtein + totalProteinNeeded)) * 360+ 'deg)'"></div>
            <div class="chart-center">
              <div class="chart-text">{{ totalProtein }}</div>
              <div class="chart-text">{{ totalProteinNeeded }}</div>
            </div>
          </div>
        </div>
      </div> 
        
</div>

