<app-after-login></app-after-login>

<div class="exercise-container">
  <!-- Barre de progression -->
  <div class="alert alert-success mx-5 mt-4 border border-success total-progress" role="alert">
    <h4 class="alert-heading">Exercise Progress</h4>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" [style.width.%]="averageProgress" [attr.aria-valuenow]="averageProgress" aria-valuemin="0" aria-valuemax="100">
        {{ averageProgress | number: '1.0-0' }}%
      </div>
    </div>
  </div>
  
  <!-- Cartes d'exercices -->
  <div class="card-deck">
    <div class="card exercise" *ngFor="let exercise of exercises">
      <div class="card-body text-center">
        <h5 class="card-title">{{ exercise.exerciseRelaxationName }}</h5>
      </div>
      <!-- Video tag to display the exercise video -->
      <video controls class="card-img-top">
        <source [src]="exercise.videoUrl" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="card-body">
        <!-- Exercise instructions -->
        <p class="card-text">{{ exercise.instructions }}</p>
      </div>
      <div class="card-body">
      <button class="btn btn-primary" (click)="markExerciseAsWatched(exercise)" [disabled]="exercise.completed">Done</button>
    </div>

    </div>
  </div>
</div>
