<!-- relaxation-exercise-add.component.html -->
<app-after-login></app-after-login>
<div class="container">
  <div class="form-wrapper form-container"> <!-- Utilisation de la classe form-container -->
   
    <form (submit)="uploadExercise()">
      <div class="form-group">
        <label for="exerciseName">Exercise Name</label>
        <input type="text" id="exerciseName" [(ngModel)]="exerciseName" name="exerciseName" required>
        <div *ngIf="!exerciseName" class="error-message">Exercise Name is required</div>
      </div>
      <div class="form-group">
        <label for="exerciseInstructions">Exercise Instructions</label>
        <textarea id="exerciseInstructions" [(ngModel)]="exerciseInstructions" name="exerciseInstructions" required></textarea>
        <div *ngIf="!exerciseInstructions" class="error-message">Exercise Instructions are required</div>
      </div>
      <div class="form-group">
        <label for="exerciseDuration">Exercise Duration (in seconds)</label>
        <input type="number" id="exerciseDuration" [(ngModel)]="exerciseDuration" name="exerciseDuration" required>
        <div *ngIf="!exerciseDuration" class="error-message">Exercise Duration is required</div>
      </div>
      <div class="form-group">
        <label for="exerciseType">Exercise Type</label>
        <select id="exerciseType" [(ngModel)]="exerciseType" name="exerciseType" required>
          <option value="DeepMuscleRelaxation">Deep Muscle Relaxation</option>
          <option value="ProgressiveMuscleRelaxation">Progressive Muscle Relaxation</option>
          <option value="YogaForRelaxation">Yoga For Relaxation</option>
        </select>
        <div *ngIf="!exerciseType" class="error-message">Exercise Type is required</div>
      </div>
      <div class="form-group">
        <label for="videoFile">Select video</label>
        <input type="file" id="videoFile" (change)="onFileSelected($event)" accept="video/*" required>
        <div *ngIf="!videoFile" class="error-message">Video File is required</div>
      </div>
      <button type="submit">Add Exercise</button>
    </form>
  </div>
</div>
