<!-- relaxation-exercise-add.component.html -->
<app-header></app-header>

<div class="container">
  <div class="form-wrapper form-container"> <!-- Utilisation de la classe form-container -->
   
    <form (submit)="uploadExercise()">
      <div class="form-group">
        <label for="exerciseName">Exercise Name</label>
        <input type="text" id="exerciseName" [(ngModel)]="exerciseName" name="exerciseName" required>
      </div>
      <div class="form-group">
        <label for="exerciseInstructions">Exercise Instructions</label>
        <textarea id="exerciseInstructions" [(ngModel)]="exerciseInstructions" name="exerciseInstructions" required></textarea>
      </div>
      <div class="form-group">
        <label for="exerciseDuration">Exercise Duration (in seconds)</label>
        <input type="number" id="exerciseDuration" [(ngModel)]="exerciseDuration" name="exerciseDuration" required>
      </div>
      <div class="form-group">
        <label for="exerciseType">Exercise Type</label>
        <select id="exerciseType" [(ngModel)]="exerciseType" name="exerciseType" required>
          <option value="DeepMuscleRelaxation">Deep Muscle Relaxation</option>
          <option value="ProgressiveMuscleRelaxation">Progressive Muscle Relaxation</option>
          <option value="YogaForRelaxation">Yoga For Relaxation</option>
        </select>
      </div>
      <div class="form-group">
        <label for="videoFile">Select video</label>
        <input type="file" id="videoFile" (change)="onFileSelected($event)" accept="video/*" required>
      </div>
      <button type="submit">Add Exercise</button>
    </form>
  </div>
</div>
