<app-after-login></app-after-login>
<div class="container centered-container bg-light"> <!-- Ajout de l'arrière-plan -->
    <div class="padding">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- User Profile Card -->
                <div class="card card-no-border">
                    <img class="card-img-top" [src]="currentUser.profileImageUrl" alt="Card image cap">
                    <div class="card-body little-profile text-center">
                        <div class="pro-img"><img [src]="currentUser.profileImageUrl" alt="user"></div>
                        <h3 class="m-b-0">{{ currentUser.firstName }} {{ currentUser.lastName }}</h3>
                        <!-- Bouton Edit -->
                        <button class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded m-2" (click)="editProfile()">Edit</button> <!-- Ajout de la marge -->
                        <!-- Emoji pour la messagerie -->
                        <span style="font-size: 20px;">📧</span>
                        <!-- Bouton Logout -->
                        <button class="m-t-10 waves-effect waves-dark btn btn-danger btn-md btn-rounded m-2" (click)="logout()">Logout</button> <!-- Ajout de la marge -->
                        <div class="row text-center m-t-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                           
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Meal Container -->
    </div>
</div>
