:host {
    --soft: rgb(0,0,0,.3);
    --softer: rgb(0,0,0,.1);
    --softest: rgb(0,0,0,0.05);
}
::ng-deep header {
    background-color: coral !important;
}
body
{
    margin: 0px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.9)), url(https://t3.ftcdn.net/jpg/01/07/00/50/360_F_107005010_vHGDB9kSbCKY0bYpYkGd9oAhgmSY9f8v.jpg);
    background-size: cover;
}
.storeContent
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.storeContentTopBar
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.storeContentTopBar>*
{
    padding: 40px;
}
.searchArea>input
{
    font-size: 60px;
    background-color: transparent;
    border: none;
    font-weight: 800;
}
.searchArea>input::placeholder
{
    color: var(--softer);
}
.category
{
    font-size: 20px;
}
.storeContentCenter
{
    display: flex;
    flex-direction: row;
    background-color: var(--softest);
}
.filtersArea
{
    width: 30%;
    max-width: 300px;
    font-size: 20px;

    margin-top: 1px;
    margin-left: 1px;
}
.filtersArea>*
{
    box-sizing: border-box;
    padding: 40px;
}
.sortArea
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    background-color: white;
}
.sortArea>*
{
    padding: 10px;
}
.sortArea>label
{
    font-weight: bolder;
    text-transform: uppercase;
}
.sortArea>select
{
    border: none;
}
.categoryArea>label
{
    font-weight: bolder;
    text-transform: uppercase;
}
.filterExpandableButtonsArea
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productsArea
{
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
}
.productsArea>*
{
    margin: 1px;
}

.productCard:hover
{
    transform: scale(1.05);
    box-shadow: 0px 0px 50px 10px var(--soft);
    z-index: 1;
}
.productCard
{
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.productCard>*
{
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.productCardCenter
{
    aspect-ratio: 1/1; /* widht = height */
    width: 100%;
    background-image: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/cde9362a09ba4dd38c9ead6600ac074e_9366/Duramo_10_Running_Shoes_Black_GW8336_01_standard.jpg);
    background-size: cover;
    background-position: center;
}
.productCardName
{
    font-weight: bolder;
    font-size: 30px;
}
.productCardDescription
{
    font-weight: bolder;
    color:var(--soft);
}

.productCardBottombar
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}
.productCardDisponibility
{
    font-weight: bolder;
    color:var(--soft);
}
.productCardPriceTag
{
    text-align: end;
    font-weight: bolder;
    font-size: 30px;
}
.filterExpandableButton
{
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding: 10px;
    
    font-size: 16px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--softer);
}
.filterExpandableButtonTitle
{
    width: 100%;
}
.filterExpandableButtonContent
{
    height: 0;
    width: 100%;
    transition: height 0.3s ease; /* Transition the height change */
    overflow: hidden;
}
.filterExpandableButtonContent>select
{
    border: none;
    outline: none;
    width: 100%;
}