<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Lists</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <app-after-login></app-after-login>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
                    </div>
                    <div class="scroll-area-sm">
                        <div class="ps ps--active-y">
                            <div class="ps-content">
                                <ng-container *ngFor="let g of listTasks; let i=index">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="todo-indicator bg-warning"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2"></div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">{{g.description}}
                                                            <div *ngIf="g.completed" class="badge badge-pill badge-info ml-2">completed</div>
                                                            <div *ngIf="!g.completed" class="badge badge-danger ml-2">Not completed</div>
                                                        </div>
                                                        <div class="widget-subheading"><i>Deadline: {{ g.deadline | date: 'yyyy-MM-dd' }}</i></div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <button class="border-0 btn-transition btn btn-outline-success" (click)="completed(g.taskId)">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                        <button class="border-0 btn-transition btn btn-outline-danger" (click)="supp(g.taskId)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <button class="border-0 btn-transition btn btn-outline-success" [routerLink]="['/updateTask',g.taskId]">
                                                            <i>edit</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="mr-2 btn btn-link btn-sm" [routerLink]="['/allgoals']">Cancel</button>
                        <button class="btn btn-primary" [routerLink]="['/addTask',idGoal]">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
