html, body {
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #007bff !important; /* Light navbar background color */
  }

  body {
    padding-top: 100px; /* Height of the fixed navbar */
  }

  .post {
    background-color: #fff; /* White background for posts */
    border: 1px solid #ced4da; /* Border color for posts */
  }

  .sidebar {
    background-color: #fff; /* White background for sidebar */
    border: 1px solid #ced4da; /* Border color for sidebar */
  }

  .community-link {
    color: #007bff; /* Blue color for community links */
  }

  .community-link:hover {
    color: #0056b3; /* Darker blue color on hover */
    text-decoration: none;
  }