<body class="hero-anime">	

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
						<a class="navbar-brand" href="home" >Vita Verse</a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
							
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/allgoals">Goal Track</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="chat">MYchat</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="profile">Profile</a>
								</li>
							
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="store">Store</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="shopping-cart">StoreCart</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="store-shipment">Shipment</a>
								</li>
								<li  class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#">Workout</a>
								</li>

								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/feed">Forum</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="customer">Customer</a>
								</li>


								<li *ngIf="isCustomer" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="professionals">Professionals</a>
								</li>
								<li *ngIf="!isCustomer" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="PsyCustomers">My Customers</a>
								</li>

								<li *ngIf="isCustomer" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="customerexerciselist">Relaxation Exercise</a>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="myworkout">myworkout</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="mydiet">mydiet</a>

								</li>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>

    <router-outlet></router-outlet>
</body>