
<div class="background">
    <div class="content">
    <div class="container">
        
        <img src="assets/images/upper.webp" alt="Image" class="center-image">
        <div class="buttons">
            <div class="buttons purple" style="top: -170px; left: -330px;">
                <button class="button2" (click)="navigateToExercises('CHEST')">Chest</button>
            </div>
            <div class="buttons green" style="top: -70px; left: 205px;">
                <button class="button2" (click)="navigateToExercises('GLUTES')">glutes</button>
            </div>
            <div class="buttons yellow" style="top: -90px; left: -420px;">
                <button class="button2" (click)="navigateToExercises('BICEPS')">biceps</button>
            </div>
            <div class="buttons blue" style="top: 170px; left: -290px;">
                <button class="button5"(click)="navigateToExercises('ABDOMINALS')">abdominals</button>
            </div>
            <div class="buttons blue" style="top: -200px; left: -385px">
                <button class="button5"(click)="navigateToExercises('SHOULDERS')">deltoid</button>
            </div>
            <div class="buttons red" style="top: -170px; left: -25px">
                <button class="button6"(click)="navigateToExercises('QUADRICEPS')">quadrice</button>
            </div>
        </div>
    </div>
</div>
<div>
    <!-- Button to navigate to the "addExercise" page -->
    <button class="btn btn-primary" (click)="navigateToAddExercise()">Add Exercise</button>
  </div>
</div>
